
body {
	margin: auto;
}

img {
height: 100%;
width: 100%;
}

/*-----------------------------------------------------*/
	/* Navigation Bar */

#header {
    height: 300px;
    width: 100%;
    position: relative; 
	 z-index: -1;
	}

	 #title {
	 	font-family: 'Lobster Two', cursive;
    	font-size: 72px;
    	color: #0D4D4D;
    	margin-left:200px;
    	margin-bottom: 300px;
    	position: absolute;

    	
	 }

#menu {
	width:  300px;
	height: 20px;
	border-radius: 5px;
	position: absolute;
	font-family: 'Gochi Hand', cursive;
	margin-bottom: 300px;
	z-index: 1;

}

	#menu li {
		display: inline;
		margin: 10px;
		text-align: center;
		margin-bottom: 300px;
	}

	#menu a {
		text-decoration: none;
		color: #0D4D4D;
		font-size: 20px;
		padding: 50px;
		margin-bottom: 300px;
	}
/*-----------------------------------------------------*/
	/* Main page */

#picture {
	height: 250px;
	width: 200px;
	position: absolute;
	border-radius: 100%;
	margin-top: 50px;
	z-index: 1;
}

	#pic {
		height: 250px;
		width: 200px;
		position: absolute;
		border-radius: 100%;
		margin-top: 50px;
		z-index: 1;
}
	
#description {
 	height: 500px;
	width: 500px;
	position: absolute;
	margin-top: 150px;
	margin-left: 35%;
 }

 	#text {
 		font-family: 'Gochi Hand', cursive;
    	font-size: 24px;
    	color: black;
    	padding: 30px;	
 }
/*-----------------------------------------------------*/ 
	/* Moving Narwhal Logo FTW!! */

#movinggif {
 	height: 200px;
	width: 200px;
	position: absolute;
	margin-left: 600px;
	position: absolute;
    animation: example 10s linear 1s infinite normal;
    z-index: 1;
 }


 	@-webkit-keyframes example {
    0%   {left:1px;}
    25%  {left:10px;}
    50%  {left:20px;}
    75%  {left:30px;}
    100% {left:40px;}
}

/*-----------------------------------------------------*/
#footer {
    height: 100px;
    width: 100%;
    position: absolute; 
    margin-top: 740px;
}